<!DOCTYPE html>
<html lang="en">
<%- include('blogHead') %>

<body>
    <%- include('nav') %>

    <div class="blogDiv">
        <div id="headerBanner">
            <h1 id="blogHeader">Web Dev Jev Blog</h1>
        </div>
        <ul class="postsContainer">
            <% for( let post of blogPosts) { %>
            <ul class="posts">
                <h3><%= post.Title %></h3>
                <h4><%= post.date %></h4>
                <p><%= post.post %></p>
            </ul>
            <% } %>
        </ul>
    </div>
</body>

</html>