	<main id="project-section">
		<h2 id="project-title" class="titles">Projects</h2>
		<div class="proj-row">
				<%- include('projects/blogsite') %>

			<%- include('projects/carolina.ejs') %>
			<%- include('projects/dictionary.ejs') %>
			<%- include('projects/calculator.ejs') %>
<%- include('projects/linktree.ejs') %>
<%- include('projects/pong.ejs') %>
<%- include('projects/show.ejs') %>

		</div>
	</main>